@model MovieAPI.Models.MovieModel
@using MovieAPI.Models;

<<<<<<< HEAD
@using (Html.BeginForm("Search", "Home", FormMethod.Post))
{
    <label for="Title" class="form-control">Search by title</label>
    @Html.TextBox("Title", null, new { @class = "form-control" })
    <input type="submit" class="form-control" />
}

<p>Movie Count: @Model.Movies.Count</p>
@foreach (MovieDB item in Model.Movies)
{
    <div>
        <p>Title: @item.Title</p>
        <p>Year: @item.Year</p>
        <p>IMDB ID: @item.ImdbID</p>
        <p>Poster: <img src="@item.Poster" /></p>
    </div>
}
=======
@Model.Title
@Model.Genre
@Model.Metascore
@Model.Year
@Model.Plot
>>>>>>> master
