@model MovieAPI.Models.MovieDB

<p><img src="@Model.Poster" width="300" height="360" /><div id="plot">@Model.Plot</div></p>
<p>Title: @Model.Title</p>

<p>Genre: @Model.Genre</p>
<p>Metascore: @Model.Metascore</p>
<p>Year: @Model.Year</p>

<p>Description</p>
<p>@Model.Plot</p>
