@model MovieAPI.Models.MovieDB

<p><img src="@Model.Poster" width="300" height="360" /><div id="plot">@Model.Plot</div></p>
<h2 id="title">@Model.Title</h2>
<div id="theBody">
	<p>Genre: @Model.Genre</p>
	<p>Metascore: @Model.Metascore</p>
	<p>Year: @Model.Year</p>
</div>
<p id="desc">Description</p>
<input type="image" class="favButton" img src="~/Images/favButton1.png"  /> 
