@model MovieAPI.Models.MovieModel
@using MovieAPI.Models;

<<<<<<< HEAD
<p><img src="@Model.Poster" width="300" height="360" /><div id="plot">@Model.Plot</div></p>
<h2 id="title">@Model.Title</h2>
<div id="theBody">
	<p>Genre: @Model.Genre</p>
	<p>Metascore: @Model.Metascore</p>
	<p>Year: @Model.Year</p>
</div>
<p id="desc">Description</p>

=======
<<<<<<< HEAD
@using (Html.BeginForm("Search", "Home", FormMethod.Post))
{
    <label for="Title" class="form-control">Search by title</label>
    @Html.TextBox("Title", null, new { @class = "form-control" })
    <input type="submit" class="form-control" />
}

<p>Movie Count: @Model.Movies.Count</p>
@foreach (MovieDB item in Model.Movies)
{
    <div>
        <p>Title: @item.Title</p>
        <p>Year: @item.Year</p>
        <p>IMDB ID: @item.ImdbID</p>
        <p>Poster: <img src="@item.Poster" /></p>
    </div>
}
=======
@Model.Title
@Model.Genre
@Model.Metascore
@Model.Year
@Model.Plot
>>>>>>> master
>>>>>>> Mauricio
