@model MovieAPI.Models.MovieModel
@using MovieAPI.Models;

<link rel="stylesheet" href="../../Content/Index.css">

@using (Html.BeginForm("Search", "Home", FormMethod.Post))
{
	<label for="Title" class="form-control">Search by title</label>
	@Html.TextBox("Title", null, new { @class = "form-control" })
	<input type="submit" class="form-control" />
}

@{
    int i = 0;
}
@if (Model.Movies.Count == 0)
{
}
else
{
<p>Movie Count: @Model.Movies.Count</p>
}
<div class="row">
    @foreach (MovieDB item in Model.Movies)
    {
        if (i > 0 && i % 2 == 0)
        {
        @:</div><div class="row">
        }
					<div class="info col-md-6">
						<p><img src="@item.Poster" id="movieposter" /></p>
						<p>Title: @item.Title</p>
						<p>Year: @item.Year</p>
						<p>Genre: @item.Genre</p>
						<p>Rating: @item.Metascore</p>
						<p>Plot: @item.Plot</p>
						<p><a href="/MovieDBs/GetOneMovie?ImdbID=@item.ImdbID">More details!</a></p>
						<p><a href="/MovieDBs/Favorites?ImdbID=@item.ImdbID">Add to Favorites</a></p>
					</div>
        i++;
    }
</div>

